name: DEPLOY API AUCTION 

on:
  workflow_dispatch:   
     inputs:
      branch:
        description: 'master'
        required: true
        default: 'master'
 
jobs:
  build:  
    runs-on: ubuntu-latest    
    steps:    
    - name: Checkout
      uses: actions/checkout@v2
      
    - uses: azure/docker-login@v1
      with: 
        login-server: ghcr.io
        username: ${{ secrets.GH_PACKAGES_USER }}
        password: ${{ secrets.GH_PACKAGES_TOKEN }}
        
    #AUCTION API IMAGE    
    - run: |
        docker build -t ghcr.io/elitonperoni/auction-api/auction-api:latest -f src/AuctionApi/Dockerfile .
        docker tag ghcr.io/elitonperoni/auction-api/auction-api:latest ghcr.io/elitonperoni/auction-api/auction-api:${GITHUB_SHA}
        
    - run: |
        docker push ghcr.io/elitonperoni/auction-api/auction-api:latest 
        docker push ghcr.io/elitonperoni/auction-api/auction-api:${GITHUB_SHA} 

    #WORKER BACK END
    - run: |
        docker build -t ghcr.io/elitonperoni/auction-api/auction-worker:latest -f src/Auction.Worker/Auction.Worker/Dockerfile .
        docker tag ghcr.io/elitonperoni/auction-api/auction-worker:latest ghcr.io/elitonperoni/auction-api/auction-worker:${GITHUB_SHA}
        
    - run: |
        docker push ghcr.io/elitonperoni/auction-api/auction-worker:latest 
        docker push ghcr.io/elitonperoni/auction-api/auction-worker:${GITHUB_SHA} 

# 5. Conectar-se ao servidor via SSH e fazer as operações no servidor
    - name: Deploy to server
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |        
          cd docker/api-auction
          docker compose down
          docker rmi ghcr.io/elitonperoni/auction-api/auction-api:latest || true         
          docker rmi ghcr.io/elitonperoni/auction-api/auction-worker:latest || true
          docker compose up -d
