name: DEPLOY API AUCTION 

on:
  workflow_dispatch:   
     inputs:
      branch:
        description: 'master'
        required: true
        default: 'master'
 
jobs:
  build:  
    runs-on: ubuntu-latest    
    steps:    
    - name: Checkout
      uses: actions/checkout@v2
      
    - uses: azure/docker-login@v1
      with: 
        login-server: ghcr.io
        username: ${{ secrets.GH_PACKAGES_USER }}
        password: ${{ secrets.GH_PACKAGES_TOKEN }}
        
    - run: |
        docker build -t ghcr.io/elitonperoni/auction-api/auction-api:latest -f src/AuctionApi/Dockerfile .
        docker tag ghcr.io/elitonperoni/auction-api/auction-api:latest ghcr.io/elitonperoni/auction-api/auction-api:${GITHUB_SHA}
        
    - run: |
        docker push ghcr.io/elitonperoni/auction-api/auction-api:latest 
        docker push ghcr.io/elitonperoni/auction-api/auction-api:${GITHUB_SHA} 

# 5. Conectar-se ao servidor via SSH e fazer as operações no servidor
#    - name: Deploy to server
#      uses: appleboy/ssh-action@v0.1.7
#      with:
#        host: ${{ secrets.SERVER_HOST }}
#        username: ${{ secrets.SERVER_USER }}
#        key: ${{ secrets.SSH_PRIVATE_KEY }}
##        port: 22
#        script: |
#          # Pare o container atual
#          cd /var/docker/auction-api
 #         docker compose down

          # Remova a imagem antiga
 #         docker rmi ghcr.io/elitonperoni/auction-api/auction-api:latest || true                  
          
          # Suba o container com a nova imagem
          docker compose up -d
